<?xml version="1.0"?>

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.6" />
      <httpRuntime targetFramework="4.6" />
    </system.web>

  <connectionStrings>
    <add name="ourdb" providerName="System.Data.SqlClient" connectionString="Server=tcp:ashumeow.database.windows.net,1433;Initial Catalog=BlogDemo;Persist Security Info=False;User ID=admin0;Password=ashumeow#0;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"/>
  </connectionStrings>

</configuration>
